<div class="main">

  <div class="list-pokemon">
    <app-pokemon-list
    [pokemons]="allPokemons"
    (detailPokemon)=getPokemon($event)>
    </app-pokemon-list>
  </div>

  <div class="description">
    <app-pokemon-detail [pokemon]="pokemonDetail"></app-pokemon-detail>
  </div>

</div>

<div routerLink="/create" class="new-pokemon">
  <button > Tu as trouvé un nouveau Pokemon ? </button>
  <img src="https://image.noelshack.com/fichiers-md/2015/07/1423868157-3697-card-communaute.png" alt="Pokeball">
</div>

