<form (submit)="myForm.valid && addPokemon()" #myForm="ngForm">
  <label>Quel Pokémen as-tu découvert ? </label>
  <p><input type="text" [(ngModel)]="newPokemon.name" name="name" required #name="ngModel"></p>
  <div *ngIf="name.errors && myForm.submitted">
    <div *ngIf="name.errors.required">
      Name is required
    </div>
  </div>

  <label>A quoi ressemble-t-il ?</label>
  <p><input type="text" [(ngModel)]="newPokemon.imageUrl" name="imageUrl" required #imageUrl="ngModel"></p>
  <div *ngIf="imageUrl.errors && myForm.submitted">
    <div *ngIf="imageUrl.errors.required">
      Image is required
    </div>
  </div>

  <label> Ecris une description pour aider les autres dresseurs ! </label>
  <p><input type="text" [(ngModel)]="newPokemon.description" name="description" required #description="ngModel"> </p>
  <div *ngIf="description.errors && myForm.submitted">
    <div *ngIf="description.errors.required">
      Description is required
    </div>
  </div>

  <div class="choose-color">
    <label> Choisi sa couleur </label>
    <div class="color-picker"  ></div>
  </div>
    <p><input type="text" [(ngModel)]="newPokemon.color" name="color" required #color="ngModel" (change)="changeColor()"> </p>
  <div *ngIf="color.errors && myForm.submitted">
    <div *ngIf="color.errors.required">
      Color is required
    </div>
  </div>

  <button type="submit">Ajouter</button>
  <div *ngIf="myForm.valid && myForm.submitted">
    <p>{{newPokemon.name}} a été ajouté à ton Pokédex ! </p>
  </div>
</form>
<button routerLink="">Revenir aux Pokémons</button>



